@{
    Layout = "_LayoutEmpty";
}
<div class="container d-flex justify-content-center align-items-center" style="height: 70vh;">
    <div class="row text-black" style="background-color:#c1efff;">
        <h1>Restricted Access</h1>
        <p>We're sorry, you don't have access to this route.</p>
        <p>Please contact the system administrator to obtain the necessary permissions.</p>
        <a href="javascript:history.go(-1)" class="btn btn-primary">Go back</a>
    </div>

</div>

