@{
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}


<section class="vh-100 d-flex justify-content-center align-items-center">
    <div class="card text-center" style="width: 600px;">
        <div class="card-header h5 text-white bg-primary">Cambio de contraseña</div>
        <div class="card-body px-5">
            <p class="card-text py-2">
                Reset your password according to the instructions sent to your email. If you don't receive the confirmation, please resend the request and verify the entered email.
            </p>

            <form asp-controller="Login" asp-action="PasswordRecovery" method="post">
                <div class="form-outline">
                    <label class="form-label">Encrypted code</label>
                    <input type="password" class="form-control" id="encrypt" name="encrypt" required>
                </div>
                <div class="form-outline">
                    <label class="form-label">New Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="form-outline">
                    <label class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="confirmation" name="confirmation" required>
                </div>
                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
                }
                </br>
                <div class="form-group m-3">
                    <input type="submit" value="Reset password" class="btn btn-primary" />
                </div>
            </form>

            <div class="d-flex justify-content-between mt-4">
                <a class="" asp-action="Login" asp-controller="Login">Back to Login</a>
            </div>
        </div>
    </div>
</section>
